<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bulma.css">
    <link rel="stylesheet" href="../static/css/estilos.css">
    <title>Document</title>
</head>
<body>

    
                  
                  
            

            

    <form action="/correccion" method="post">

        <!-- aqui va el FOR de las preguntas-->
        {% for obj_preg in preg_aleat_con_resp %}

        <section class="section">   <!-- Bloque de 2 columnas multiline automaticas-->

            <div class="columns is-multiline">   <!-- bloque ppal de columnas de de la pagina -->
                <div class="column"> <!-- columna de la izqda. para las preguntas -->
                    <div class="block">
                        <h3>Pregunta <strong>{{loop.index}} / 10</strong></h3>
                        <div class="block box notification is-warning">
                            
                            {{ obj_preg.cuerpo }}

                        </div>
                    </div>
                </div>
                <div class="column"> <!-- columna de la dcha. para las respuestas -->
                    <p>
                        Respuestas: {{ obj_preg.id }}
                    </p>

                    <!-- aqui va el FOR de las respuestas a la pregunta-->
                    {% for obj_resp in obj_preg.l_obj_respuestas %}
                    <div class="field">
                        <div class="control">
                            <label for="resp_{{obj_resp.id}}">
                            <input class="is-checkradio has-background-color is-info" id="resp_{{obj_resp.id}}" type="radio" name="{{ obj_preg.id }}" value="{{obj_resp.id}}" required>    
                            
                            {{ obj_resp.cuerpo }} - {{obj_resp.id}}
                            </label>
                        </div> 
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        {% endfor %}
        <div class="field">
            <!-- Button (Double) -->
            <div class="field is-grouped is-grouped-center">
                <div class="control">
                <input type="submit" class="button is-success" value="Corregir Trivial">
                
    
                </div>
            </div>
        </div>
    </form>
            
            
            
            

            
        
    
    
</body>
</html>