<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bulma.css">
    <link rel="stylesheet" href="../static/css/estilos.css">
    <title>Document</title>
</head>
<body>

    <section class="section">   <!-- Bloque de 2 columnas multiline automaticas-->
        
        <div class="columns is-multiline">   <!-- bloque ppal de columnas de de la pagina -->
            <div class="column"> <!-- columna de la izqda. para las preguntas -->
                <div class="block">
                    <h3>Pregunta <strong>1 / 10</strong></h3>
                    <div class="block box notification is-warning">
                        
                        Primar lorem ipsum dolor sit amet, consectetur
                        adipiscing elit lorem ipsum dolor. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur.
                        
                    </div>
                  </div>
                  
                  
            </div>

            <div class="column"> <!-- columna de la dcha. para las respuestas -->
                <p>
                    Respuestas:
                </p>

                <form action="" method="post">
                    <div class="field">
                        <div class="control">
                          <label class="radio">
                            <input type="radio" name="respuesta">
                            Yes
                          </label>
                          <label class="radio">
                            <input type="radio" name="respuesta">
                            No
                          </label>
                          <label class="radio">
                            <input type="radio" name="respuesta">
                            MAybe
                          </label>
                          <label class="radio">
                            <input type="radio" name="respuesta">
                            No se
                          </label>
                        </div>
                        
                    </div>
                
                </form>
            </div>
            
            
            

            
        </div>
    </section>
    
</body>
</html>

