<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./bulma/css/bulma.css">
    <title>Document</title>
</head>
<body>
    <section class="section">
        <div class="container">
          <h1 class="title">
            Hola Mundo
          </h1>
          <p class="subtitle">
            Hola chaval. Bienvenido a  <strong>Bulma</strong>!
          </p>
          <button class="button is-success">
            Button
          </button>
          <br><br>
          <a class="button is-info is-large" href="#">Hola caracola</a>
          <br><br>
          <div class="columns">
            <div class="column is-1">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta iusto consequatur pariatur voluptatem hic impedit officia, modi libero ipsum recusandae adipisci, aliquam nobis natus, quaerat blanditiis at in rem consectetur?
            </div>
            <div class="column is-6">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta iusto consequatur pariatur voluptatem hic impedit officia, modi libero ipsum recusandae adipisci, aliquam nobis natus, quaerat blanditiis at in rem consectetur?
              <br><br>
              <div class="columns">
                

                <div class="column">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta iusto consequatur pariatur voluptatem hic impedit officia, modi libero ipsum recusandae adipisci, aliquam nobis natus, quaerat blanditiis at in rem consectetur?

                </div>
                <div class="column">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta iusto consequatur pariatur voluptatem hic impedit officia, modi libero ipsum recusandae adipisci, aliquam nobis natus, quaerat blanditiis at in rem consectetur?

                </div>
              </div>
            </div>
            <div class="column is-4">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod dignissimos provident iure, repellendus eius molestias aliquid, et voluptatum quis similique ducimus, blanditiis nostrum ipsa quas impedit voluptate. Quam, numquam mollitia.
              Quisquam sequi vel quae, eaque ipsa sit nulla, omnis facilis, quidem cupiditate similique minima! Iure amet blanditiis fugit, saepe assumenda neque debitis maxime praesentium minima sint beatae recusandae, itaque tenetur.
            </div>
            <div class="column is-1">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod magnam laborum excepturi at saepe deleniti, ut blanditiis earum ea tempora possimus placeat ab dolore nisi modi. Harum cumque voluptate placeat.
            </div>
          </div>
          <!-- columna cn offset:-->
          <div class="columns">
            <div class="column is-1 is-offset-5">
              <a class="button is-info is-large" href="#">Hola caracola</a>
            </div>
          </div>
          <!-- bloques como separadores entre los DIV -->
          <div class="block">
            This text is <em>not</em> within a <strong>block</strong>.
          </div>
          <div class="block">
            This text <em>isn't</em> within a <strong>block</strong> either. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
          </div>
          <div>
            This text is also <em>not</em> within a <strong>block</strong>.
          </div>
        </div>
      </section>
</body>
</html>