<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/icons/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/website.css">
    <link rel="stylesheet" href="../static/css/estilos.css">
  </head>
  <body>
    <nav class="navbar has-shadow">
      <div class="navbar-brand">
        <a class="navbar-item">
          <img src="images/icon.png">
        </a>
        <div class="navbar-burger burger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item">
            <div>
              <img src="images/type.png" width="250.5" height="21">
              <br>
              <small>Publishing at the speed of technology</small>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item has-dropdown is-hoverable">
            <div class="navbar-link">
              Alex Johnson
            </div>
            <div class="navbar-dropdown is-right">
              <a class="navbar-item">
                <div>
                  <span class="icon is-small">
                    <i class="fa fa-user-circle-o"></i>
                  </span>
                  Profile
                </div>
              </a>
              <a class="navbar-item">
                <div>
                  <span class="icon is-small">
                    <i class="fa fa-bug"></i>
                  </span>
                  Report bug
                </div>
              </a>
              <a class="navbar-item">
                <div>
                  <span class="icon is-small">
                    <i class="fa fa-sign-out"></i>
                  </span>
                  Sign Out
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <h2>Bloque de 12 columnas automáticas</h2>
    <section class="section">   <!-- Bloque de 12 columnas automáticas -->
        
        <div class="columns">   <!-- bloque ppal de columnas de de la pagina -->
            <div class="column"> <!-- columna del menu de la izqda. -->
                <p>
                    Columna 1
                </p>
            </div>

            <div class="column"> <!-- columna del menu de la izqda. -->
                <p>
                    Columna 2
                </p>
            </div>

            <div class="column"> <!-- columna del menu de la izqda. -->
                <p>
                    Columna 3
                </p>
            </div>

            <div class="column"> <!-- columna del menu de la izqda. -->
                <p>
                    Columna 4
                </p>
            </div>
            <div class="column"> <!-- columna del menu de la izqda. -->
                <p>
                    Columna 5
                </p>
            </div>
            <div class="column"> <!-- columna del menu de la izqda. -->
                <p>
                    Columna 6
                </p>
            </div>

            <div class="column"> <!-- columna del menu de la izqda. -->
                <p>
                    Columna 7
                </p>
            </div>

            <div class="column"> <!-- columna del menu de la izqda. -->
                <p>
                    Columna 8
                </p>
            </div>
            <div class="column"> <!-- columna del menu de la izqda. -->
                <p>
                    Columna 9
                </p>
            </div>

            <div class="column"> <!-- columna del menu de la izqda. -->
                <p>
                    Columna 10
                </p>
            </div>

            <div class="column"> <!-- columna del menu de la izqda. -->
                <p>
                    Columna 11
                </p>
            </div>

            <div class="column"> <!-- columna del menu de la izqda. -->
                <p>
                    Columna 12
                </p>
            </div>
        </div>
    </section>

    <h2>Bloque de 12 columnas multiline automaticas</h2>
    <section class="section">   <!-- Bloque de 12 columnas multiline automaticas-->
        
        <div class="columns is-multiline">   <!-- bloque ppal de columnas de de la pagina -->
            <div class="column"> <!-- columna del menu de la izqda. -->
                <p>
                    Columna 1
                </p>
            </div>

            <div class="column"> <!-- columna del menu de la izqda. -->
                <p>
                    Columna 2
                </p>
            </div>

            <div class="column"> <!-- columna del menu de la izqda. -->
                <p>
                    Columna 3
                </p>
            </div>

            <div class="column"> <!-- columna del menu de la izqda. -->
                <p>
                    Columna 4
                </p>
            </div>
            <div class="column"> <!-- columna del menu de la izqda. -->
                <p>
                    Columna 5
                </p>
            </div>
            <div class="column"> <!-- columna del menu de la izqda. -->
                <p>
                    Columna 6
                </p>
            </div>

            <div class="column"> <!-- columna del menu de la izqda. -->
                <p>
                    Columna 7
                </p>
            </div>

            <div class="column"> <!-- columna del menu de la izqda. -->
                <p>
                    Columna 8
                </p>
            </div>
            <div class="column"> <!-- columna del menu de la izqda. -->
                <p>
                    Columna 9
                </p>
            </div>

            <div class="column"> <!-- columna del menu de la izqda. -->
                <p>
                    Columna 10
                </p>
            </div>

            <div class="column"> <!-- columna del menu de la izqda. -->
                <p>
                    Columna 11
                </p>
            </div>

            <div class="column"> <!-- columna del menu de la izqda. -->
                <p>
                    Columna 12
                </p>
            </div>
        </div>
    </section>

    <h2>Bloque de 12 columnas Multiline + todas 2-widesdreen</h2>
    <h2>Cada col. en 2 / 12 disponibles, desde 1280px en adelante, si es menos pierde la estructura</h2>
    <section class="section">   <!-- Bloque de 12 columnas Multiline + todas 2-widesdreen  --> 
        
        <div class="columns is-multiline">   <!-- bloque ppal de columnas de de la pagina -->
            <div class="column is-2-widescreen"> <!-- columna del menu de la izqda. -->
                <p>
                    Columna 1
                </p>
            </div>

            <div class="column is-2-widescreen"> <!-- columna del menu de la izqda. -->
                <p>
                    Columna 2
                </p>
            </div>

            <div class="column is-2-widescreen"> <!-- columna del menu de la izqda. -->
                <p>
                    Columna 3
                </p>
            </div>

            <div class="column is-2-widescreen"> <!-- columna del menu de la izqda. -->
                <p>
                    Columna 4
                </p>
            </div>
            <div class="column is-2-widescreen"> <!-- columna del menu de la izqda. -->
                <p>
                    Columna 5
                </p>
            </div>
            <div class="column is-2-widescreen"> <!-- columna del menu de la izqda. -->
                <p>
                    Columna 6
                </p>
            </div>

            <div class="column is-2-widescreen"> <!-- columna del menu de la izqda. -->
                <p>
                    Columna 7
                </p>
            </div>

            <div class="column is-2-widescreen"> <!-- columna del menu de la izqda. -->
                <p>
                    Columna 8
                </p>
            </div>
            <div class="column is-2-widescreen"> <!-- columna del menu de la izqda. -->
                <p>
                    Columna 9
                </p>
            </div>

            <div class="column is-2-widescreen"> <!-- columna del menu de la izqda. -->
                <p>
                    Columna 10
                </p>
            </div>

            <div class="column is-2-widescreen"> <!-- columna del menu de la izqda. -->
                <p>
                    Columna 11
                </p>
            </div>

            <div class="column is-2-widescreen"> <!-- columna del menu de la izqda. -->
                <p>
                    Columna 12
                </p>
            </div>
        </div>
    </section>

    <h2>Bloque de 12 columnas Multiline + todas 4-desktop y 2-widesdreen </h2>
    <h2>Cada col. en 2 / 12, desde 1280px en adelante</h2>
    <h2>Cada col. en 4 / 12, entre 1024px y 1280px, si menor pierde la estructura</h2>
    <section class="section">   <!-- Bloque de 12 columnas Multiline + todas 4-desktop y 2-widesdreen  --> 
        
        <div class="columns is-multiline">   <!-- bloque ppal de columnas de de la pagina -->
            <div class="column is-4-desktop is-2-widescreen"> <!-- columna del menu de la izqda. -->
                <p>
                    Columna 1
                </p>
            </div>

            <div class="column is-4-tablet is-4-desktop is-2-widescreen"> <!-- columna del menu de la izqda. -->
                <p>
                    Columna 2
                </p>
            </div>

            <div class="column is-4-tablet is-4-desktop is-2-widescreen"> <!-- columna del menu de la izqda. -->
                <p>
                    Columna 3
                </p>
            </div>

            <div class="column is-4-tablet is-4-desktop is-2-widescreen"> <!-- columna del menu de la izqda. -->
                <p>
                    Columna 4
                </p>
            </div>
            <div class="column is-4-tablet is-4-desktop is-2-widescreen"> <!-- columna del menu de la izqda. -->
                <p>
                    Columna 5
                </p>
            </div>
            <div class="column is-4-tablet is-4-desktop is-2-widescreen"> <!-- columna del menu de la izqda. -->
                <p>
                    Columna 6
                </p>
            </div>

            <div class="column is-4-tablet is-4-desktop is-2-widescreen"> <!-- columna del menu de la izqda. -->
                <p>
                    Columna 7
                </p>
            </div>

            <div class="column is-4-tablet is-4-desktop is-2-widescreen"> <!-- columna del menu de la izqda. -->
                <p>
                    Columna 8
                </p>
            </div>
            <div class="column is-4-tablet is-4-desktop is-2-widescreen"> <!-- columna del menu de la izqda. -->
                <p>
                    Columna 9
                </p>
            </div>

            <div class="column is-4-tablet is-4-desktop is-2-widescreen"> <!-- columna del menu de la izqda. -->
                <p>
                    Columna 10
                </p>
            </div>

            <div class="column is-4-tablet is-4-desktop is-2-widescreen"> <!-- columna del menu de la izqda. -->
                <p>
                    Columna 11
                </p>
            </div>

            <div class="column is-4-tablet is-4-desktop is-2-widescreen"> <!-- columna del menu de la izqda. -->
                <p>
                    Columna 12
                </p>
            </div>
        </div>
    </section>

  </body>
</html>
